/*--------------------------------------------
    Sass Variables and settings
---------------------------------------------*/
$font: 'Open Sans', sans-serif;
$primary-text-color: #605e5e;
$clr-base: #00b1ef;
$clr-seconday: #2b8acb;
$clr-bg: #104378;
$clr-gray: #dbe3eb;
$clr-white: #fff;


/*-------------------------------------------
    Basic Setting
--------------------------------------------*/
::selection {
  background: $clr-base;
  color: $clr-white;
  text-shadow: none;
}
body{
  color: $primary-text-color;
  font-size: 14px;
  font-family: $font;
  color: #4a4a4a;
}
a{
  color: $clr-base;
  text-decoration: none;
	transition: all .25s ease-in-out;
}
a:hover,a:focus{
  text-decoration: underline;
  color: $clr-seconday;
}
h1,h2,h3,h4,h5,h6{ font-weight: 600; }

/*-------------------------------------------
    Home page
--------------------------------------------*/
.main-wrapper{
  position: relative;
  padding-bottom: 65px;
  min-height: 100vh;
  &.home{
    background-color: $clr-bg;
    color: #ffffff;
  }
}
.logo-container{
  display: inline-block;
  margin: 17% auto 15px;
}
.home-form{
  input::-webkit-input-placeholder {
    color: rgba($clr-white, 0.80);
  }
  input::-moz-placeholder {
    color: rgba($clr-white, 0.80);
  }
  input:-ms-input-placeholder {
    color: rgba($clr-white, 0.80);
  }
  input:focus::-webkit-input-placeholder {
    color: rgba($clr-white, 0.50);
  }
  input:focus::-moz-placeholder {
    color: rgba($clr-white, 0.50);
  }
  input:focus:-ms-input-placeholder {
    color: rgba($clr-white, 0.50);
  }
}

.menu-holder{
  background-color: $clr-bg;
  padding: 15px 0;
  color: $clr-white;
  .logo{
    float: left;
  }
  .storage{
    margin: 15px 0 0 25px;
    float: left;
    font-size: 17px;
    small{
      font-size: 13px;
      color: $clr-seconday;
    }
    .badge{
      background-color: #54799f;
      padding: 6px 10px;
      font-size: 13px;
    }
  }
  #main-menu{
    float: right;
    list-style: none;
    padding-top: 11px;
    li{
      float: left;
      margin-left: 25px;
      &:first-child{
        margin-left: 0;
      }
      a{
        display: block;
        line-height: 30px;
        font-size: 18px;
        font-weight: 600;
        color: $clr-white;
        &:hover,&:active{
          text-decoration: none;
          opacity: 0.8;
        }
        img{
          height: 30px;
          width: auto;
        }
      }
    }
  }
}

.top-bar{
  background-color: rgba(222, 222, 223, 0.75);
  padding: 15px 0;
  h3{
    font-size: 20px;
    margin: 5px 0;
    font-weight: 400;
    a{
      color: #4abaee;
      img{
        width: 20px;
        height: auto;
      }
      &:hover,&:active{
        text-decoration: none;
        opacity: 0.8;
      }
    }
  }
}

.properties-ul{
  list-style: none;
  padding: 0;
  margin: 30px -1% 15px;
  li{
    max-width: 300px;
    float: left;
    width: 23%;
    margin: 1%;
  }
}

.bar-header{
  border-bottom: 1px solid $clr-gray;
  padding-bottom: 15px;
  font-size: 20px;
  font-weight: 400;
  color: $clr-base;
  small{font-size: 14px;}
}
.form-label{
  font-weight: 400;
  padding-bottom: 5px;
}
.drop-down-input{-webkit-appearance: none;  -moz-appearance: none; appearance: none; background: #fff url("../img/arrow-1-down.svg") no-repeat right 10px center; background-size: auto 7px;}
/* CAUTION: IE hackery ahead */
.ie-fix select::-ms-expand { display: none; /* remove default arrow on ie10 and ie11 */}
.radio-holder{border: 2px solid $clr-gray; border-radius: 4px; padding: 10px 15px 15px;}
.table-edit,.table-del{
  img{  height: 16px;width: auto;} }
.dataTables_filter .form-control{padding: 6px 10px; height: 34px;background: #fff url("../img/icon-search.svg") no-repeat right 10px center;background-size: auto 18px;}
.dataTables_length,.dataTables_filter{margin: 10px 0 2px;}
.delete-check{display: inline-block; padding: 5px 10px; border-radius: 4px; background-color: $clr-gray; color: inherit; img{width: 16px;} &:hover,&:active{text-decoration: none; color: inherit; opacity: 0.9}}
/*-----------------------------------------
  Footer
-------------------------------------------*/
.fs-footer{
  bottom: 13px;
  text-align: center;
  left: 15px;
  right: 15px;
	}

/*-----------------------------------------
  UI Elemnets
-------------------------------------------*/
.form-control{border: 2px solid #dbe3eb; height: 42px; box-shadow: none; }
.panel-fs{border-color: #dbe3eb; border-width: 2px; margin-bottom: 0;
    >.panel-heading {
    background-color: transparent;
    border-color: #dbe3eb;
    border-width: 2px;
    font-size: 15px;
  }
  .panel-fs-div{
    width: 100%;
    padding-top: 100%;
    background: url("../img/300x300.png");
    background-size: cover;
    margin-bottom: 15px;
  }
  .panel-fs-footer{
    .btn{
      width: 50%;
      float: left;
    }
    a:first-child{
       border-radius: 4px 0 0 4px;
       border-right-color: #ffffff;
     }
    a:last-child{
      border-radius: 0 4px 4px 0;
      border-left-color: #ffffff;
    }
  }
}

.btn-base{
  border-color: $clr-base;
  background-color: $clr-base;
  color: $clr-white;
  opacity: 1;
}
.btn-base:focus,
.btn-base:hover,
.btn-base:active,
.btn-base.active,
.btn-base.disabled,
.btn-base[disabled] {
  opacity: 0.8;
  color: $clr-white;
  background-color: $clr-seconday;
  border-color: $clr-base;
}
.btn-base-o{
  border-color: $clr-base;
  background-color: transparent;
  color: $clr-base;
  opacity: 1;
}
.btn-base-o:focus,
.btn-base-o:hover,
.btn-base-o:active,
.btn-base-o.active,
.btn-base-o.disabled,
.btn-base-o[disabled] {
  opacity: 0.8;
  color: $clr-white;
  background-color: $clr-base;
  border-color: $clr-base;
}
.btn-gray-o{
  border-color: #9b9b9b;
  background-color: transparent;
  color: #9b9b9b;
  opacity: 1;
}
.btn-gray-o:focus,
.btn-gray-o:hover,
.btn-gray-o:active,
.btn-gray-o.active,
.btn-gray-o.disabled,
.btn-gray-o[disabled] {
  opacity: 0.8;
  color: $clr-white;
  background-color: #9b9b9b;
  border-color: #9b9b9b;
}

.btn-secondary{
  border-color: $clr-seconday;
  background-color: $clr-seconday;
  color: $clr-white;
  opacity: 1;
}
.btn-secondary:focus,
.btn-secondary:hover,
.btn-secondary:active,
.btn-secondary.active,
.btn-secondary.disabled,
.btn-secondary[disabled] {
  opacity: 0.8;
  color: $clr-white;
  background-color: $clr-seconday;
  border-color: $clr-seconday;
}
.badge-fs{background-color: #0c325a;padding: 5px 7px;}

.btn-home{padding: 10px 12px; width: 100%; font-size: 16px; font-weight: 600;margin-bottom: 15px;}
.input-home{background-color: transparent; color: $clr-white;margin-bottom: 15px;font-size: 16px;height: 44px;}
.form-btn{padding: 8px 10px; border-width: 2px;font-size: 14px;}
.table-striped{border: 2px solid $clr-gray; margin: 15px 0;}

/*---------------
  Dropzone
----------------*/
.dpz-active {
  border-style: solid;
  background-color: #ffffff;
}
.dpz-accepted {
  border-style: solid;
  border-color: #66cc66;
  background-color: #bdffc0;
}
.dpz-rejected {
  border-style: solid;
  border-color: #cc6666;
  background-color: #ddcccc;
}
.dpz-default {
  min-height: 200px;
  border-width: 2px;
  border-color: #666666;
  border-style: dashed;
  border-radius: 5px;
}
.dpz-disabled {
  opacity: 0.5;
}

/*-----------------------------------------
  Various fixes and overwrites
-------------------------------------------*/
.btn{transition: all .25s ease-in-out; }
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn.focus:active,
.btn:active:focus,
.btn:focus,a {outline: none;} /* firefox outline fix */
.clr-base{color: $clr-base;}
.prop-btn{border-width: 2px; min-width: 95px;}
/*------------------------------------------
    Responsive Grid Media Queries Settings
    1600+   -     Extra Large Screen
    1600-1200   - Large Screen
    1280-992   - desktop (default grid)
    992-768    - tablet landscape
    768-480     - tablet
    480-less    - phone landscape & smaller
--------------------------------------------*/

/*-------------------------Extra large--------------------------------*/
/*----- For very large+ ------*/
@media all and (min-width: 1601px) {

}

/*--- below very large screen -----*/
@media all and (max-width: 1600px) {

}

/*-------------------------Large-------------------------------------*/
/*--- large screen + -----*/
@media all and (min-width: 1201px) {

}

/*--- Large screen only -----*/
@media all and (min-width: 1201px) and (max-width: 1600px) {

}

/*--- below large screen -----*/
@media all and (max-width: 1200px) {
  .tc-md{text-align: center;}
  .menu-holder{
    #main-menu{
      li{
        >a>span{ display: none}
      }
    }
  }
}

/*------------------------Medium------------------------------------*/
/*---   Medium screen+   -----*/
@media all and (min-width: 992px) {

}

/*--- Medium screen only -----*/
@media all and (min-width: 992px) and (max-width: 1200px){
    .tc-md-o{text-align: center;}
}

/*--- below medium screen -----*/
@media all and (max-width: 991px) {
    .tc-sm{text-align: center;}
    .menu-holder{
      .storage{
        small{
          display: none;
        }
      }
    }
}

/*-----------------------Small-------------------------------------*/
/*---   Small screen+   -----*/
@media all and (min-width: 768px) {

}
/*--- Small screen only -----*/
@media all and (min-width: 768px) and (max-width: 991px) {
  .tc-sm-o{text-align: center;}
  .properties-ul{
    li{
      width: 31.33333333333333%;
    }
  }
}

/*--- below small screen -----*/
@media all and (max-width: 767px) {
  .tc-xs{text-align: center;}
  .tl-xs{text-align: left;}
  .created-by{display: block}
  .logo-container{
    max-width: 90%;
    img{max-width: 100%;}
  }
  .btn-home{font-size: 14px;}
  .main-wrapper {padding-bottom: 80px;}
  .properties-ul{
    li{
      width: 48%;
    }
  }

  .menu-holder{
    .logo{
      margin-top: 10px;
      img{
        width: auto;
        height: 40px;
      }
    }
    .storage{
      margin: 15px 0 0 15px;
      .storage-text{font-size: 14px}
    }
  }
}

/*-----------------------Very Small--------------------------------*/
/*--- Extra Small screen only -----*/
@media all and (min-width: 480px) and (max-width: 767px) {

}

/*--- Very Small screen -----*/
@media all and (max-width: 580px) {
  .menu-holder{
    .storage{
      .storage-text{display: none}
    }
    #main-menu{
      li{
        margin-left: 15px;

      }
    }
  }
}
@media all and (max-width: 479px) {
  .properties-ul{
    text-align: center;
    li{
      display: inline-block;
      float: none;
      width: 98%;
    }
  }
  .menu-holder{
    .storage{
      display: none;
    }
  }
}
@media all and (max-width: 380px) {
  .menu-holder{
    .logo{
      margin-top: 15px;
      img{
        height: 30px;
      }
    }
  }
  .top-bar h3 {
    font-size: 18px;
  }
}
/*----------------------------- The End ---------------------------*/